{% extends "JuniorEtudiantBundle:Etudiant:layoutEtudiant.html.twig" %}

{% block title %}
{{ parent()}} - Dashboard
{% endblock %}

{% block content_etudiant %}

<h2>Liste des frais</h2>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Nom</th>
            <th>Nom</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>test</td>
            <td>test</td>
            <td>test</td>
        </tr>
        <tr>
            <td>test</td>
            <td>test</td>
            <td>test</td>
        </tr>
        <tr>
            <td>test</td>
            <td>test</td>
            <td>test</td>
        </tr>
    </tbody>
</table>
<button class="btn" type="button"><a href="{{ path('junior_etudiant_listFrais', {'id':1}) }}" ><p>Voir tous les frais</p></a></button>
<button class="btn" type="button"><a href="#" ><p>Enregistrer des frais</p></a></button>
{% endblock %} 