{% extends "JuniorEtudiantBundle:Etudiant:layoutEtudiant.html.twig" %}

{% block title %}
{{ parent()}} - Dashboard
{% endblock %}

{% block content_Etudiant %}
<h2>Liste des trucs</h2>
<ul class="breadcrumb">
    <li class="active"><a href="#">Dashboard</a> <span class="divider">/</span></li>
</ul>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Nom</th>
            <th>Nom</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>test</td>
            <td>test</td>
            <td>test</td>
        </tr>
        <tr>
            <td>test</td>
            <td>test</td>
            <td>test</td>
        </tr>
        <tr>
            <td>test</td>
            <td>test</td>
            <td>test</td>
        </tr>
    </tbody>
</table>


{% endblock %} 