{% extends "JuniorEtudiantBundle:Gestion:layoutGestion.html.twig" %}

{% block title %}
{{ parent()}} - Créer un étudiant
{% endblock %}

{% block content_gestion %}
<p> Creation etudiant </p>

{% endblock %} 