{% extends "JuniorEtudiantBundle:Gestion:layoutGestion.html.twig" %}

{% block title %}
{{ parent()}} - Créer une étude
{% endblock %}

{% block content_gestion %}

<ul class="breadcrumb">
    <li class="active"><a href="#">Dashboard</a> <span class="divider">/</span></li>
</ul>

{% endblock %} 